$color-oscuro:      #2B2238;
$color-oscuro-alfa: #2b2238d9;
$color-blanco:      #FFF9F6;
$color-rosa:        #F7C8D8;
$color-crema:       #E8CFAE;
$color-morado:      #7A5C7B;

$fuente-elegante: "Fleur De Leah", cursive;
$fuente-base:     "Poppins", sans-serif;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 850px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1800px;