
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //outline: 1px solid red;
}

body {
  background: #7A5C7B !important;
  color: #2B2238 !important;
  font-family: 'Poppins', sans-serif !important;
}

html{
    scroll-behavior: smooth;
}

